{% extends 'base.html.twig' %}

{% block title %}Planning Afpa{% endblock %}

{% block body %}
<div class="container">
    <div class="app">

        <!-- Création de la barre de saisie de valeur -->
        <div id="app">
            <span></span>
            <!-- formulaire de saisie de la formation -->
            <div class="formation_formulaire">
                <h4>Saisir la formation
                    <span class="material-icons">
                        keyboard_arrow_down
                    </span>
                </h4>
                {{ form_start(form_,{attr:{class:'form-format'}}) }}
                {{ form_label(form_.name, 'Saisir une formation')}}
                {{ form_row(form_.name) }}
                <button type="submit" class="btn-formation">Valider</button>
                {{ form_end(form_) }}
            </div>
            <!-- formulaire de saisie du planning -->
            <div class="planning_formulaire">
                <h4>Planning de la formation
                    <span class="material-icons">
                        keyboard_arrow_down
                    </span>
                </h4>
                {{ form_start(form,{attr:{class:'form-planning'}}) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn_planning">Valider</button>
                {{ form_end(form) }}
            </div>
            <!-- faire un commentaire sur le planning -->
            <div class="commentaire">
                <h4>Faire un commentaire
                    <span class="material-icons">
                        keyboard_arrow_down
                    </span>
                </h4>
                <div class="date_comment">
                    {{ form_start(form_comment) }}
                    {{ form_rest(form_comment) }}
                    <div id="calendar">
                        <datepicker value="20-03-2020"></datepicker><!-- création d'un custom element avec vue-js -->
                    </div>
                    <button type="submit">Ok</button>
                    {{ form_end(form_comment) }}

                </div>
            </div>
            <!-- faire un input pour la saisie des éleves par formation -->
            <div class="study">
                <h4>Liste des élèves
                    <span class="material-icons">
                        keyboard_arrow_down
                    </span>
                </h4>
                <div class="form_study">
                    {{ form_start(form_study)}}
                    {{ form_rest(form_study)}}
                    <button type="submit">Valider</button>
                    {{ form_end(form_study)}}
                </div>
            </div>
        </div>
    </div>
   
    <!-- dashboard editer un planning -->
    <div class="dashboard">
        <h2>Planning</h2>
        <!-- <div class="js-content-dashboard"></div>  element à déplacer -->
        <div class="delete-content"></div>
        <!-- création du spinner -->
        <div class="spinner">
            <span class="spinner_in"></span>
        </div>
        <table class="table_list table table-striped">
            <tr>
                <th>Activité</th>
                <th>date début</th>
                <th>date fin</th>
                <th>professeur</th>
                <th>durée</th>
                <th>Actions</th>
            </tr>

            {% for item in items %}
            <!--Récupération des éléments de la base de donnée-->

            <tr>
                <td>{{item.activity}} 
                    <span class="js-content-dashboard" id="edit-{{item.id}}"></span>
                </td>
                <td>{{item.dateDebut | date('d/m/Y')}} </td>
                <td>{{item.dateFin | date('d/m/Y')}} </td>
                <td>{{item.professeur}} </td>
                <td>{{item.duree}} semaine(s)</td>
                
                <td>
                    <a class="edit" href="{{ path('edit',{id:item.id}) }} " id="{{item.id}}" title="editer"><i class="material-icons">
                            edit
                        </i></a>
                    <!-- mise en place du btn delete -->
                    <a style="border:none;" href="{{path('task',{id:item.id})}}" class="a-delete"><i class="material-icons">
                        delete
                    </i></a>
                    <div class="delete">
                   
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>


    <!-- Affichage du planning Elément de fin -->

    <div class="ajax filter">
        <div class="spinner2">
            <span class="spinner_out"></span>
        </div>
        <div class="list_formation ">
            {{ form_start(form_formation,{attr:{class:'js-formulaire'}}) }}
            {{ form_row(form_formation.search_formation) }}
            <button type="submit">Afficher</button>
            {{ form_end(form_formation) }}
        </div>
        <!-- Permet d'afficher le planning -->
        <div id="planning" >
            <div class="container_planning ">

                {% include "home/show.html.twig" %}

            </div><!-- fin de la balise container planning -->
        </div><!-- fin de la div planning element vue js-->
        <div class="planning_study ">
            <h4>Liste des stagiaires</h4>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                {% for list in list_study %}
                <tr>
                    <td>{{ list.nom }}</span> &nbsp {{list.prenom}}
                        <span class="study_content" id="ol-{{list.id}} " ></span>
                    </td>
                    <td class="td_action js-study-filter">
                        
                        <a href="{{ path('study',{id:list.id})}} " id="{{list.id}} " title="editer"><i class="material-icons" style="font-size:18px;">
                            edit
                        </i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div><!-- fin de la div ajax -->
</div><!-- fin de la div container -->

{% endblock %}