



            <div class="js-planning">
                {% for m in month %}
                <div class="month">{{m}}

                </div>
                {% endfor %}
                
                <div class="content_planning">
                    {% for i,item in items %}
                    <planning activity=" {{item.activity}} " value="{{item.dateDebut | date('m-d-Y') }}" jour="{{ item.duree }}"
                    modif="{{i}} "></planning>
                    {% endfor %}
                </div>
            </div>



       
